.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body,
html {
  height: 100%;
}
.myForm {
  margin: 10px;
  padding: 2px;
}
